<!-- app/views/users/film_list.html.erb -->

<style>

</style>

<h1>Film List for <%= @user.name %></h1>

<%= turbo_stream_from :films %>
<ul>
  <%= turbo_frame_tag :films do %>
    <%= render @all_films %>
  <% end %>
</ul>