<!-- app/views/users/film_list.html.erb -->

<style>
  ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Center the buttons */
  }

  li {
    margin-bottom: 10px;
  }

  .film-button {
    display: inline-block;
    width: 400px; 
    padding: 15px 20px; 
    color: #000;
    border-radius: 5px;
    font-size: 24px; 
    text-decoration: none;
    background-color: #248ffd; 
  }

.film-button.film-seen {
  background-color: #c5ddf7; 
  color: #9f9f9f; 
  text-decoration: line-through; 
}

  @media (max-width: 767px) {
    .film-button {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }

  @media (min-width: 768px) and (max-width: 1000px) {
    .film-button {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
</style>

<h1>Film List for <%= @user.name %></h1>

<%= turbo_stream_from :films %>
<ul>
  <%= turbo_frame_tag :films do %>
    <%= render @all_films %>
  <% end %>
</ul>