<h3>Users List</h3>

<ul>
  <% @users.each do |user| %>
  <div class="users-list">
    <li>
      <%= link_to user.name, film_list_user_path(user) %>
    </li>
  </div>
  <% end %>
</ul>

<ul>
  <div class="users-list">
    <li><%= link_to "Add a new user", new_user_path %></li>
  </div>
</ul>

