<div class="homepage">
  <ul>
    <li><%= link_to 'View Films', films_path %></li>
    <li><%= link_to 'View Users', users_path %></li>
    <li><%= link_to 'Example Comparison', compare_films_path(usernames: @usernames_string), class: 'button' %></li>
  </ul>
</div>
