<!-- app/views/pages/home.html.erb -->

<style>
  h1 {
    font-size: 4em; /* Make the title gigantic */
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    text-align: center; /* Center the subtitle */
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  li {
    width: 30%; /* Each link takes up a third of the page */
    margin: 10px;
  }

  a.button {
    display: block;
    padding: 15px;
    text-align: center;
    background-color: #3498db; /* Blue color, you can change it */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5em;
  }
</style>

<ul>
  <li><%= link_to 'View Films', films_path, class: 'button' %></li>
  <li><%= link_to 'View Users', users_path, class: 'button' %></li>
  <li><%= link_to 'Example Comparison', compare_films_path(usernames: 'user1,user2,user3'), class: 'button' %></li>
</ul>
