<% if @user.present? %>
<li>
  <div class="film-button <%= 'film-seen' if @user.seen?(film) %>"
        data-action="click->viewings#create_or_update"
        data-url="<%= create_or_update_viewings_path(film_id: film.id, user_id: @user.id) %>">
    <%= "#{film.title} (#{film.release_date.year})" %>
  </div>
</li>
<% else %>
  <li>
    <%= link_to "#{film.title} (#{film.release_date.year})", film_path(film), class: 'film-button' %>
  </li>
<% end %>



