<h2>Compare Film Lists</h2>

<div class="unseen-films">
  <h3>Films all users haven't seen</h3>
  <% @unseen_films.each do |film| %>
    <p><%= film.title %></p>
  <% end %>
</div>

<div class="comparison-holder">
  <div class="comparison">
    <% @users.each do |user| %>
      <div class="user-container">
        <h2><%= user.name %>'s Film List</h2>
        <div class="user-films">
          <% @all_films.each do |film| %>
            <p style="<%= styling_for_user_film(user, film) %>">
              <%= film.title %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

