<!-- app/views/films/index.html.erb -->

<style>
  ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Center the buttons */
  }

  li {
    margin-bottom: 10px;
  }

  .film-button {
    display: inline-block;
    width: 400px; /* Fixed width for all buttons */
    padding: 15px 20px; /* Adjust padding as needed */
    background-color: #3498db; /* Light blue color, you can change it */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 50px;
  }

  @media (max-width: 767px) {
    .film-button {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }

  @media (min-width: 768px) and (max-width: 1000px) {
    .film-button {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
</style>

<h1>All Films</h1>

<%= turbo_stream_from :films %>

<%= turbo_frame_tag :films do %>
  <%= render @all_films %>
<% end %>

<%= link_to 'New Film', new_film_path, class: 'film-button' %>
