<h1><%= @film.title %></h1>

<p><strong>Director:</strong> <%= @film.director %></p>
<p><strong>Release Date:</strong> <%= @film.release_date %></p>
<!-- Add other film details as needed -->

<%= link_to 'Back to Films', films_path %>
