.comparison {
    display: flex;
    margin: 0 auto;
    border: 2px solid #fff;
    padding: 10px;

}

.user-films {
    margin-right: 20px;
}

.unseen-films {
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

.film-button {
    display: inline-block;
    width: 400px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    background-color: #172f47;
}

.film-button.film-seen {
    background-color: #ffffff82;
    color: #fff;
    text-decoration: line-through;
}

@media (max-width: 767px) {
    .film-button {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .film-button {
        max-width: 1000px;
        margin: 0 auto;
    }
}

.users-list h1 {
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.users-list ul {
    list-style-type: none;
    padding: 0;
}

.users-list li {
    margin-bottom: 10px;
}

.users-list a {
    display: inline-block;
    width: 400px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    background-color: #248ffd;
}

.users-list a:hover {
    color: #fff;
}

body {
    background-color: #007bff;
    color: #fff;
}

header {
    padding: 20px;
    text-align: center;
    border: 2px solid #fff;
    max-width: 90%;
    margin: 0 auto;
}

header h1 {
    font-size: 10em;
    margin-bottom: 10px;
}


header h2 {
    font-size: 10em;
    margin-bottom: 10px;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.header-link {
    color: #fff;
    text-decoration: none;
}



h1 {
    font-size: 5em;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.homepage a {
    display: inline-block;
    width: 400px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    background-color: #248ffd;
}