.comparison {
    display: flex;
    margin: 0 auto;
    border: 2px solid #fff;
    padding: 10px;

}

.comparison-holder {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.user-films {
    margin-right: 20px;

}

.unseen-films {
    margin: 0 auto;
    text-align: left;
    width: 30%;
}

body {
    display: inline-block;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px;
    color: #ffffff21
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

.film-button {
    display: inline-block;
    width: 400px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    background-color: #172f47;
}

.film-button.film-seen {
    background-color: #ffffff82;
    color: #fff;
    text-decoration: line-through;
}

@media (max-width: 767px) {
    .film-button {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }


}

@media (min-width: 768px) and (max-width: 1000px) {
    .film-button {
        max-width: 1000px;
        margin: 0 auto;
    }


}

.users-list h1 {
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.users-list ul {
    list-style-type: none;
    padding: 0;
}

.users-list li {
    margin-bottom: 10px;
}

.users-list a {
    display: inline-block;
    width: 90%;
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    background-color: #248ffd;
}

.users-list a:hover {
    color: #fff;
}

body {
    background-color: #007bff;
    color: #fff;
}






header h2 {
    font-size: 10em;
    margin-bottom: 10px;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.header-link {
    color: #fff;
    text-decoration: none;

}



h1 {
    font-size: 5em;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h3 a {
    text-align: center;
    color: #fff;
}

.homepage a {
    display: inline-block;
    width: 400px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    background-color: #248ffd;
}

.user-form {
    text-align: center;
    font-size: 2em;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    /* display: inline-block; */
    border: none;
}

.registerbtn {

    display: inline-block;
    width: 90%;
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    background-color: #248ffd;
}

.text-muted {
    font-size: .5em;

}